@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

$title-font: 'Nabla', cursive;
$title-size: 2.5rem;
$font: 'Fredoka', sans-serif;
$primary: #182138;
$text-size: 1.05rem;
$line-height: 40px;
